################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/*/bin/*
/*/obj/*
*.suo
/packages
*.exe
*.nupkg
/build/Packages/temp/PowerUpMvc/lib/NET35
*.user
/.cr
/.vs/PowerUp/v16/TestStore/0
*.v2
.vs
/.vs